   *
        {
            margin:0;
            padding:0;
        }
        body
        {
            margin:0;
            text-align: center;
            
        }
        #container
        {
            margin: 30px 10px;
        display: inline-block;
            text-align:center;
       height:100vh;
        }
        #game-name
        {
          padding-top:30px;
            font-size:6rem;
            margin: 0px 20px;
            letter-spacing: 5px;
            font-family: 'Luckiest Guy', cursive;
            background: -webkit-linear-gradient(35deg, #24c6dc ,#514a9d);
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
        }
        #label
        {
            font-size:20px;
            line-height: 20px;
            letter-spacing: 1px;
            margin-top:10px;
            font-family: 'PT Sans Caption', sans-serif;
        }
        #nop,#nor
        {
            margin-left:20px;
            width:150px;
            height: 30px;
            border-radius: 100px;
            border: 1px solid grey;
            text-align: center;
            float: right;
        }
        #win
        {
            letter-spacing: 2px;
            text-align:center;
          margin:20px 0;
                font-family: 'Comfortaa', cursive;
        }
       
        img {
            width: 150px;
            height: 150px;
        }
        #btn
        {
            width:80%;
            border-radius: 50px;
            border: none;
            height:40px;
            background-color: dodgerblue;
            color: white;
            max-width: 400px;
         margin-bottom: 20px;
        }
        #input2
        {
            margin-top:20px;
        }
        #btn:hover
        {
       background-color:#1465f7;
        }
        .fas
        {
            font-size:50px;
            margin:20px 0 10px 25%;
            color: gold;
        }
#center
{
 text-align:center;
}

       @media (max-width:600px)
       {
        #game-name
           {
               font-size: 3rem;
             padding-bottom:30px;
           }
           #label
           {
               font-size:12px;
             letter-spacing:0;
           }
           .fas
        {
            font-size:50px;
            margin-top:50px;
            
        }
           img {
            width: 90px;
            height: 90px;
        }
        
        
            #nop,#nor
        {
            margin-left:10px;
            width:60px;
          font-size:10px;
            height: 20px;
          
        }
         
        }
