* {
    margin: 0;
    padding: 0;
}

#container {
    display: block;
    text-align: center;
}

#game-name {
    font-size: 100px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    background: -webkit-linear-gradient(35deg, #24c6dc, #514a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:25px 0;
}

#label {
    font-size: 15px;
    font-family: 'PT Sans Caption', sans-serif;
}
#input1
{
    width: 100%;
    text-align: center;
    margin: 20px auto;
}
#input2
{
    
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

#nop,#nor {
    width: 100px;
    height: 25px;
    border-radius: 100px;
    border: 1px solid grey;
    text-align: center;
}
#nop {
    margin-left:135px;}

.fas
{
    font-size: 50px;
    color: gold;
}

#win {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin:20px 0;
}

img {

    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

#btn {
    width: 80%;
    border-radius: 50px;
    border: none;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

#btn:hover {
    background-color: #1465f7;
}
@media (max-width:600px)
{

    #game-name
    {
    font-size:50px;
    margin:50px 0;
}

#label {
    font-size:10px;
}
#input2
{
    margin: 20px auto;
}

#nop{
    width: 90px;
    margin-left:95px;
}
#nor{
    width:90px;
    margin-left:10px;
}

#win {
    font-size: 15px;
    margin:20px 0;
}

img {

    width: 90px;
    height: 90px;
    }

}
